 <div>
 <div>
 <div>
 <div>
 </div>
<div class="container">
  <p> <% @forecast.each do |weather| %></p>
    <div class="row">
       <div class="col">
         <p>Date<%= weather["date"] %></p>
         <p>Day<%= weather["day"] %></p>
         <p>High<%= weather["high"] %></p>
         <p>Low<%= weather["low"] %></p>
         <p>FYI: <%= weather["text"] %></p>
       </div>
    </div>
  <% end %>
</div>
</div>
</div>
